# 虛擬環境
.venv/
venv/
env/

# PyInstaller 打包產物
build/
dist/
*.spec
*.exe

# 模型權重檔案 (因為超過 100MB，請保留資料夾結構但忽略裡面的大檔案)
weights/*.onnx
weights/*.pth
weights/*.data

# Python 暫存檔
__pycache__/
*.pyc